/* Banner logo image */

.header>img {
    max-height: 96px;
}

nav .brand-logo.text {
    padding-left: 32px;
    font-size: 1.5rem !important;
}

nav .brand-logo.img>img {
    padding-left: 32px;
    display: inline-block;
    height: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
    max-height: 48px;
}

@media only screen and (max-width: 600px) {
    nav .brand-logo.img>img {
        padding-left: 0;
        max-height: 40px !important;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo.text {
        padding-left: 0;
        font-size: 1.5rem !important;
    }
    nav .brand-logo.img>img {
        padding-left: 0;
        max-height: 48px;
    }
}


/* Sticky Footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* Collections */

ul.dropdown-content {
    min-width: 200px !important;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #545454 !important;
}

a.active {
    background-color: rgba(0, 0, 0, 0.1);
}

img.center-cropped {
    object-fit: none;
    /* Do not scale the image */
    object-position: center;
    /* Center the image within the element */
    /* background-size: auto; */
    height: 300px;
    width: max-content;
}

ul.list li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

ul.list li p {
    margin: 4px;
}

ul.list ul.sub-list {
    margin-left: 24px;
}

.element-word-spacing {
    padding-left: 8px;
    padding-right: 8px;
}